@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, 
h2 {
    margin: 1rem 2rem;
}

button {
    line-height: 1.5;
    padding: 0.25rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    width: 150px;
    color: white;
}

button#btn-diminuir {
    margin-left: 2rem;
    background-color: crimson;
}

button#btn-aumentar {
    background-color: green;
}