@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 1rem sans-serif;
}

h1 {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

form {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgb(226, 214, 47);
    border-radius: 17px;
}

input {
    margin: 0.275rem 0;
    line-height: 1.5rem;
    border: 0;
    border-radius: 17px;
    padding: 0 0.5rem;
}